@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    /* nbb = estilos del "navbar button media" */
    .nbb {
        @apply 
        gap-2 
        text-center 
        text-xs
        dark:text-txt1
        hover:font-bold
        hover:text-bg1
        dark:hover:text-txt1
        transition-all 
        rounded-md 
        w-[80px]
        my-3
    }
    /* nbb = estilos del "navbar button" */
    .nbm {
        @apply 
        text-bg1
        dark:text-txt2
        hover:text-d1
        dark:hover:text-d1
        text-xl 
        transition-all
        hover:shadow-2xl
    } 
    .contenedorTeam {
        @apply
        w-[230px]
        h-[326px]
        overflow-hidden
    }
    .imagenes {
        @apply
        w-fit
        h-1/2
        object-cover
    }
    .card-inicio-dep {
        @apply
        p-3 
        h-[300px] 
        w-[300px] 
        hover:bg-bg1
        transition-all
        duration-500
        flex 
        flex-col 
        justify-center 
        items-center
    }
    
}